.detail {
  border: initial;
  width: 80%;
  height: auto;
  margin: 15px 0px 0px 200px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 5px 2px 15px 0px rgb(195, 194, 194);
  background-color: antiquewhite;
  opacity: .9;
  backdrop-filter: blur(200px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.button {
  background-color: #f9ffea;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  margin-left: 630px;
  border: black solid 1px;
  padding: 4px;
  transition: all 0.3s ease 0s;
  color: black;
  font-size: 20px
}
.button:hover {
  background-color: #c68b59;
}
.detailContainerUno {
  position: relative;
  right: 100px;
  border-radius: 20px;
  width: 300px;
  height: 590px;
  margin-top: 6px;
  background-color: #533535;
  box-shadow: 0px 3px 12px 3px #1f1d36;
}
.detailContainerDos {
  text-align: left;
  margin-left: 0px;
  position: relative;
  right: 50px;
  font-size: 14.4px;
  width: 70%;
  height: 70%;
  background-color: antiquewhite;
}
.detailContainerUno h2 {
  color: antiquewhite;
  padding: 5px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}
.detailContainerUno h1 {
  color: #e2c275;
  padding: 5px 6px 0px 6px;
  font-size: 28px;
  font-family: "Playfair Display", serif;
}
.detailContainerDos p {
  text-decoration: underline;
  font-family: "Caveat", cursive;
  font-size: 20px;
}

@media screen and (max-width: 600px) {

}
