.todo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.todo p{
    color: white;
    font-weight: bolder;
}

.todo a{
    height: 3rem;
    width: 3.5rem;
}

.todo > div {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 3rem;
    width: 3.5rem;
    background-color: rgb(112, 0, 0);
    color: red;
    margin: 0 0.5rem;
    border-radius: 15px;
}

.botones:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.boton {
    height: 3rem;
    width: 3.5rem;
    border-radius: 15px;
    background-color: rgb(112, 0, 0);
    border: 0px solid transparent;
    color: white;
    font-weight: bold;
}

.boton:hover {
   background-color: white;
   color: rgb(112, 0, 0);
   cursor: pointer;
   border: 2px solid rgb(112, 0, 0);
   transition-duration: 200ms;
}