.Formulario {
    background-color: #3f3351;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 900px;
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    height: 400px;
    padding: 20px 0px 20px 0px;
    font-family: "Poppins", sans-serif;
  }
  .button {
    font-family: "Merienda", cursive;
    background-color: #f9ffea;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-top: 18px;
    transition: all 0.3s ease 0s;
  }
  .button:hover {
    background-color: #e5890a;
  }